/* App.css */

ul {
  list-style: none; /* Remove default list-style (bullets) */
  padding: 10px; 
  text-align: center;/* Remove default padding */
}

li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 10px;
  text-align: center; /* Add some space between list items */
}

a {
  text-decoration: none; /* Remove default underline from links */
  color: #000000; /* Set link color */
}

a:hover {
  color: #E5E0FF; /* Change link color on hover */
}

li a {
  padding: 10px; /* Add padding to links */
  border-radius: 5px; /* Add rounded corners to links */
  background-color: #7286D3; /* Add background color to links */
}